<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Smart Spend</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
    {% extends "master.html" %}
 
  <header>

      <a href="#" class="btn btn-primary">Get Started</a>
    </nav>
  </header>
{%block content%}
  <section class="hero">
    <h1>Empower Your <br/> Savings Journey Today</h1>
    <p>Collaborating technology and services to transform spend management.</p>
    <a href="#" class="btn btn-secondary">Get Started →</a>
  </section>
{%endblock%}
</body>
</html>
